[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"

[dev-packages]
pytest = "==7.4.*"
pytest-cov = "==4.1.*"
pylint = "==2.17.*"
ipython = "*"

[requires]
python_version = "3.11"
